body{
font-family: Arial, sans-serif;
background:#f5f7ff;
text-align:center;
margin:0;
}

header{
background:#4f6df5;
color:white;
padding:40px;
}

.menu{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:40px;
}

.card{
background:white;
padding:30px;
border-radius:15px;
cursor:pointer;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
transition:0.3s;
font-size:20px;
}

.card:hover{
transform:scale(1.05);
background:#e9edff;
}

.kuis{
background:#ffe082;
}

iframe{
width:90%;
height:600px;
border:none;
margin-top:20px;
}

button{
padding:10px 20px;
border:none;
border-radius:10px;
background:#4f6df5;
color:white;
font-size:16px;
cursor:pointer;
}


.footer{
background:#e5e7eb;
text-align:center;
padding:40px 20px;
margin-top:270px;
font-size:18px;
}

.footer p{
margin:8px 0;
}

.top-btn{
margin-top:15px;
padding:12px 20px;
background:#4f6df5;
color:white;
border:none;
border-radius:18px;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.top-btn:hover{
background:#3b55d1;
}

.video-container{
width:90%;
max-width:700px;
margin:20px auto;
position:relative;
text-align:center;
}

.thumbnail{
width:100%;
border-radius:12px;
}

.play-button{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#ff0000;
color:white;
padding:12px 20px;
border-radius:10px;
font-size:18px;
}

.modul-container{

width:90%;
max-width:900px;

margin:auto;
margin-top:20px;

}

.modul-viewer{

width:100%;
height:700px;

border:none;
border-radius:10px;

box-shadow:0 4px 10px rgba(0,0,0,0.1);

}